body {
    margin-left: 500px;
    margin-right: 500px;
    border: solid,red;
    border-width: 10px;

}
.header {
    position: relative;
    width: 100%;
    height: 400px; 
    justify-content: center;
    align-items: center;
}

.shapka {
    width: 100%;
    height: 100%;
}

.logo {
    position: absolute;
    width: 150px; 
    height: auto;
    z-index: 1; 
    left:368px;
    top: 300px;

}

.section {
display: grid;
grid-template-columns: 1fr 1fr;
text-align: center;
box-sizing: border-box;
}
.section img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    }
.card {
    margin: 10px;
    background-color: red;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 50px;
    box-sizing: border-box;
    
    
}
.card-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
    color: black;
    

}


.btn {
    background-color: rgb(255, 255, 255);
    color: red;
    font-size: 30px;
    border: solid red;
border-radius: 15px;
margin-bottom: 50px;
cursor: pointer;
box-shadow: 0 20px 30px 0 rgb(0, 0, 0);
}

.btn:hover {
    background-color: rgb(138, 138, 138);
}

.social-img {
    width: 70px;
}
.social-grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 310px;
    margin-right: 330px;
    margin-top: 100px;
    border: solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: beige;

}
.social {
    background-color: red;
padding-bottom: 30px;
padding-top: 1px ;
margin-bottom: 60px;
}
.text-social {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rights {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;

}

.Entry-text {
 text-align: center;
 font-size: 30px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif\;
}

.card:hover {
    z-index: 1;
    box-shadow: 0 20px 30px 0 rgb(0, 0, 0);
    scale: 1.02;
}

.cursor {
    cursor: pointer;
    text-decoration: none;
}

.card:hover>.btn {
    background-color: rgb(61, 61, 61);
}
.footer {
    margin-top: 20px;
}